html{
background-image: url(https://cdn0.vox-cdn.com/thumbor/4ylygVC0PCaJgUKT4b-EuVOP7Io=/cdn0.vox-cdn.com/uploads/chorus_asset/file/3631872/shutterstock_220973980.0.jpg);
}

#navigation{
  font-size: 35px;
  font-family: Garamond, Trebuchet MS, sans-serif;;
  background-color: #d31730;
}

div#navigation ul li a{
  color: #fff;
}

#navigation ul li a:hover{
  background-color: red;
  color: #3d3d2c;
}
